<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= site %> ATC %>
    </title>
</head>

<body>
    <form id="submit" method="POST" action="<%= atc_url %>">
        <input type="hidden" name="pid" value="<%= pid %>">
        <input type="hidden" name="options" value='[{"optionId":"size","selectedValueId":"<%= size %>"}]'>
        <input type="hidden" name="quantity" value="1">
    </form>
</body>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    const submit = document.getElementById("submit")
    submit.submit()
    sleep(300).then(() => {
        window.location = "<%= redirect_url %>";
    })

</script>

</html>